.favorite {
    width: 100%;
    &Wrapper {  
      max-width: 1200px;
      margin: 0 auto;
      padding: 50px 10px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 30px;
    }
    &Title {    
        font-size: 35px;
        font-weight: 700;
        text-align: center; 
        padding: 20px 0 60px;
        position: relative;
      &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 1px;
        bottom: -20px;
        right: 0;
        background-color: #9a92927b;
      }
    }
    &Inner {    
        width: 100%;
        max-width: 270px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        row-gap: 15px;
        
    }
    &Image {    
        width: 250px;
        padding: 10px;
          align-items: center;
          box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
          border-radius: 8px;
    }
    &Name { 
        font-size: 12px;
        line-height: 16px;
    }
    &Price {    
        font-size: 18px;
        line-height: 20px;
        font-weight: 500;
    }

    &Footer {  
        display: flex; 
        align-items: center;
        justify-content: space-between;
    }
    &Icon { 
        border: 1px solid rgba(190, 186, 186, 0.358);
        border-radius: 4px;
        padding: 12px;
        cursor: pointer;
        &:hover {   
            background-color: rgba(182, 173, 173, 0.306);
        }
    }

}